/**
 * Place your custom styles here.
 */
h1 {
	color:red;
}

body {
	background-color:black;
}

tbody {
	background-color:gray;
}

div {
  color: red;
}

p {
  color: red;
}

p {
	background-color:black;
}

div {
	color:red;
}

header { 
	color:red;
}

aside {
	background-color:black;
}
